.. _inputparameterreference:

==========================
Input Parameter Reference
==========================

It is always hard to write and maintain an accurate reference
documentation for a moving target like 4C. The following pages present
our best effort. And please note that 4C knows its input file format
very well. You can ask it. Just type

.. code-block:: bash

   ${PATH_TO_FOUR_C}/4C --parameters

and you will get a (partial) input file with all the default parameters
and documentation.


.. toctree::
   :maxdepth: 2

   /celltypereference
{{ add_raw_text_from_file("reference_guide/reference_documents.txt", 3) }}